{% extends "base.html" %}

{% block main %}
<table>
    <tbody>
        <tr>
            <th>Nombre de usuario</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Direccion de email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Edad</th>
            <td>{{ user.age }}</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'user_delete' user.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="eliminar" />
</form>

<a href="{% url 'user_detalle' user.id %}">Volver</a>
{% endblock %}